<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Issue browser</title>
</head>

<body>
    <header>
        <a href="/">
            <h2>WalmartLabs Thorax Issue Tracker</h2>
        </a>
    </header>
    <%- body %>
</body>

</html>
